@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorDarkGold: #b08f26;
  --colorLightGold: #e0c56e;
  --colorPrimary: var(--colorBlack);
  --colorSecondary: #d4af37;
  --mainTransition: all 0.3s linear;
  --main-navbar-height: 60px;
  --sub-navbar-height: 50px;
  --navbar-index: 2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--colorBlack);
  background: var(--colorWhite);
  font-family: "Lato", sans-serif;
  padding-top: calc(var(--main-navbar-height) + var(--sub-navbar-height));
}

/* --------------- Main Navbar --------------- */
#main-navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--main-navbar-height);
  width: 100%;
  background-color: var(--colorPrimary);
  margin: 0 auto;
  padding: 0 1.5rem;
  text-transform: uppercase;
  z-index: var(--navbar-index);
}

#logo {
  display: flex;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
#cart-btn-container{
  padding: 14px 17px;
  position: absolute;
  top: 0;
  right: 0;
}
#cart-btn{
  cursor: pointer;
  color: white;
  text-decoration: none;
}
#cart-icon {
  font-size: 1.5rem;
}
#nr-cart-items{
  position: absolute;
  background: var(--colorSecondary);
  top: 8px;
  right: 8px;
  padding: 0 5px;
  border-radius: 30%;
  color: var(--colorWhite);   
}
/* --------------- Sub Navbar --------------- */
#sub-navbar{
  position: fixed;
  top: var(--main-navbar-height);
  height: var(--sub-navbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--colorSecondary);
  font-size: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
  z-index: var(--navbar-index);
}
#sub-navbar ul{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sub-navbar ul li{
  display: flex;
  height: 100%;
  list-style-type: none;
  align-items: center;
}
#sub-navbar ul li a{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1.5rem;
  cursor: pointer;
}
#sub-navbar ul li a:hover{
  background-color: var(--colorLightGold);
}

.sub-navbar-item{
  text-decoration: none;
  color: var(--colorBlack);
}

/* --------------- Banner --------------- */
/* --------------- Page Container --------------- */
#page_container{
  position: relative;
  /* top: calc(var(--main-navbar-height) + var(--sub-navbar-height)); */
  width: 100%;
}

#banner {
  display: inline-block;
  position: relative;
  width: 100%;
  user-select: none;
  overflow: hidden;
}
#banner-height-setter{
  background: green;
  margin-top: 66%;
}
.banner-img{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.arrowDiv{
  position: absolute;
  left: 0;
  top: calc(50% - 35px);
  width: 50px;
  height: 70px;
  background: #00000036;
  z-index: 1;
  transition: background 0.5s;
}
#leftArrowDiv{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#rightArrowDiv{
  left: auto;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#leftArrowDiv:hover, #rightArrowDiv:hover {
  background: #000000a8;
  cursor: pointer;
}
#banner .arrowDiv .arrow{
  display: inline-block;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#leftArrow{
  transform: rotateZ(-135deg);
}
#rightArrow{
  transform: rotateZ(45deg);
}

.moveLeftCurrentSlide{
  animation-name: moveLeftCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.moveLeftNextSlide{
  animation-name: moveLeftNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
  from {margin-left: 0; opacity: 1;}
  to {margin-left: -100%; opacity: 1;}
}

@keyframes moveLeftNext {
  from {margin-left: 100%; opacity: 1;}
  to {margin-left: 0%; opacity: 1;}
}

.moveRightCurrentSlide{
  animation-name: moveRightCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.moveRightPrevSlide{
  animation-name: moveRightPrev;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveRightCurrent {
  from {margin-left: 0; opacity: 1;}
  to {margin-left: 100%; opacity: 1;}
}
@keyframes moveRightPrev {
  from {margin-left: -100%; opacity: 1;}
  to {margin-left: 0%; opacity: 1;}
}

/* --------------- Products --------------- */
#products {
  display: grid;
  width: 90vw;
  padding: 4rem 0;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 1.5rem;
}

.product-img-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.product-img-container:hover .add-to-basket-btn {
  /* transform: translateX(0); */
  margin-right: 0;
}

.product-img-container:hover .product-img {
  opacity: 0.5;
}

.product-img-div-height-setter{
  margin-top: 66%;
}

.product-img {
  position: absolute;
  width: 100%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: var(--mainTransition);
  min-height: 11rem;
}

.add-to-basket-btn {
  border: none;
  right: 0;
  top: 70%;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--colorLightGold);
  position: absolute;
  margin-right: -100%;
  /* transform: translateX(101%); */
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  transition: var(--mainTransition);
}

.add-to-basket-btn:hover {
  color: var(--colorWhite);
}

